In [ ]:
import pandas as pd
import numpy as np

In [ ]:
movies=pd.read_csv(r"C:\Users\HP\Downloads\top10K-TMDB-movies.csv.zip")

In [ ]:
movies.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [ ]:
movies.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [ ]:
movies=movies[['id','title','overview','genre']]
movies['tags']=movies['overview']+movies['genre']
movies=movies.drop(columns=['overview','genre'])
movies.head()

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...

In [ ]:
movies.shape

(10000, 3)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=10000,stop_words='english')
vector=cv.fit_transform(movies['tags'].values.astype('U')).toarray()

In [ ]:
vector

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
vector.shape

(10000, 10000)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
similarity=cosine_similarity(vector)
similarity

array([[1.        , 0.05555556, 0.12708214, ..., 0.0745356 , 0.10910895,
        0.06804138],
       [0.05555556, 1.        , 0.07624929, ..., 0.        , 0.03636965,
        0.        ],
       [0.12708214, 0.07624929, 1.        , ..., 0.02273314, 0.06655583,
        0.09338592],
       ...,
       [0.0745356 , 0.        , 0.02273314, ..., 1.        , 0.03253   ,
        0.03042903],
       [0.10910895, 0.03636965, 0.06655583, ..., 0.03253   , 1.        ,
        0.04454354],
       [0.06804138, 0.        , 0.09338592, ..., 0.03042903, 0.04454354,
        1.        ]])

In [ ]:
movies[movies['title']=='The Shawshank Redemption'].index[0]
print(index)

0

In [ ]:
def recommend(movie):
    index=movies[movies['title']==movie].index[0]
    distance=sorted(list(enumerate(similarity[index])),reverse=True,key=lambda vector:vector[1])
    for i in distance[0:5]:
        print(movies.iloc[i[0]].title)

In [ ]:
recommend('The Godfather')

The Godfather
The Godfather: Part II
Blood Ties
Joker
Bomb City

In [ ]:
import pickle

In [ ]:
pickle.dump(movies,open('movies_list.pkl','wb'))
pickle.dump(similarity,open('similarity_list.pkl','wb'))

In [ ]:
pickle.load(open('movies_list.pkl','rb'))

,id,title,tags
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...
...,...,...,...
9995,10196,The Last Airbender,"The story follows the adventures of Aang, a yo..."
9996,331446,Sharknado 3: Oh Hell No!,The sharks take bite out of the East Coast whe...
9997,13995,Captain America,"During World War II, a brave, patriotic Americ..."
9998,2312,In the Name of the King: A Dungeon Siege Tale,A man named Farmer sets out to rescue his kidn...
9999,455957,Domino,Seeking justice for his partner’s murder by an...